@import 'vars'
@import 'mixins'

.login
    text-align center
    background gray4

    #logo
        margin-bottom 20px

    #login-container
        text-align left
        margin 150px auto 0 auto
        width 400px
        height 200px
        color white

    .btn-login
        background darken(gray3, 30%)
        font-weight bold
        color white
        &:hover
            background darken(gray3, 45%)