// Colors
mainBg = #F5F5F5
gray1 = #F0F1F2
gray2 = #D4D5D7
gray3 = #A1A1A1
gray4 = #34373B

offWhite = #D9CEA6
beige = #F9F8F2

brandBlue = #319BC5
brandOrange = #BF744F

lightBlue = #B2D2DD

dangerRed = #B94A48
brightRed = #FF0000
// 635b61

// Gradients
grad1Top = #FFF
grad1Bottom = #E5E5E5


// UI
navbarHeight = 50px
miniNavbarHeight = 35px
cardWidth = 450px
widgetToolbarHeight = 42px
widgetMaxHeightNarrow = 280px
widgetMaxHeightWide = 340px


// Media query expressions
mq-wide-screens = "all and (min-width: 991px)"
mq-narrow-screens = "all and (max-width: 990px)"



